In [1]:
import configparser
import sys
import json
import pandas as pd
import numpy as np
import random

sys.path.append('../WACs/WAC_Utils')
from wac_utils import filter_refdf_by_filelist, filter_relational_expr

In [2]:
config = configparser.ConfigParser()
my_config = '../Config/default.cfg'
with open(my_config, 'r', encoding='utf-8') as f:
    config.read_file(f)
    
dsgv_home = config.get('DSGV-PATHS', 'dsgv_home')
preproc_path = dsgv_home + '/Preproc/PreprocOut/'
translate_path = dsgv_home + '/Preproc/Translate/'

In [4]:
with open(preproc_path + 'saiapr_90-10_splits.json', 'r') as f:
    s_splits = json.load(f)

# Referring expressions data
refdf = pd.read_json(preproc_path + 'saiapr_refdf.json.gz',
                            typ='frame', orient='split', compression='gzip')
# EN test set
en_test = filter_refdf_by_filelist(refdf, s_splits['test'])
en_test = filter_relational_expr(en_test).drop(columns='tagged')
print('EN test set shape:', en_test.shape)

# Translated expressions
fr_refexp = pd.read_csv(translate_path + 'FR_testset.csv', sep=',', index_col=0, header=0)
print('Translated refexp shape:', fr_refexp.shape)

fr_all = en_test.merge(fr_refexp, how='left', left_index=True, right_index=True, suffixes=('_EN', None))
fr_all = filter_relational_expr(fr_all, lang='FR')
fr_all.tail()

EN test set shape: (10370, 6)
Translated refexp shape: (10376, 1)

,i_corpus,image_id,region_id,r_corpus,rex_id,refexp_EN,refexp
12005,0,40508,1,referit,116219,blue shirt right,chemise bleue droite
12006,0,17169,1,referit,116923,outside the moon,en dehors de la lune
12007,0,30950,1,referit,118084,water,l'eau
12008,0,32289,1,referit,118143,group of people at bottom,groupe de personnes en bas
12009,0,30069,1,referit,119663,pavement very bottom,trottoir très bas

In [5]:
save = False

if save = True:
    fr_all.to_pickle(preproc_path + 'FR_small_dataset.pkl')

In [6]:
df = pd.read_pickle(preproc_path + 'FR_small_dataset.pkl')
df

,i_corpus,image_id,region_id,r_corpus,rex_id,refexp_EN,refexp
0,0,14576,1,referit,2,seal,phoque
2,0,14576,2,referit,96551,bottom left corner,coin inférieur gauche
3,0,20909,1,referit,49,kid,enfant
4,0,20909,3,referit,35225,dirt ground,terre battue
5,0,20909,2,referit,112956,the sky,Le ciel
...,...,...,...,...,...,...,...
12005,0,40508,1,referit,116219,blue shirt right,chemise bleue droite
12006,0,17169,1,referit,116923,outside the moon,en dehors de la lune
12007,0,30950,1,referit,118084,water,l'eau
12008,0,32289,1,referit,118143,group of people at bottom,groupe de personnes en bas
12009,0,30069,1,referit,119663,pavement very bottom,trottoir très bas

In [31]:
import random

print('Length:', len(s_splits['test']))
print('1st 10 pre-shuffle:', s_splits['test'][:10])
random.shuffle(s_splits['test'])
print('1st 10 post-shuffle:', s_splits['test'][:10])

Length: 2000
1st 10 pre-shuffle: [14814, 4834, 13452, 12290, 8632, 8329, 9994, 17376, 19882, 39702]
1st 10 post-shuffle: [32827, 37235, 4424, 30310, 10897, 16431, 692, 38807, 27566, 17515]

In [32]:
whole = s_splits['test']

fr_splits = {
    'train': whole[:500],
    'val': whole[500:1000],
    'test': whole[1000:]
}
fr_splits['train']

[32827,
 37235,
 4424,
 30310,
 10897,
 16431,
 692,
 38807,
 27566,
 17515,
 39436,
 808,
 30301,
 6504,
 19973,
 32276,
 37559,
 21523,
 6207,
 23083,
 7472,
 1419,
 8956,
 9017,
 21053,
 31297,
 13343,
 40659,
 3414,
 31551,
 3353,
 4837,
 12173,
 14706,
 30050,
 22700,
 32863,
 25766,
 15758,
 40444,
 10011,
 18229,
 9994,
 11469,
 5023,
 12050,
 38966,
 2690,
 23302,
 11298,
 18423,
 17267,
 23520,
 40639,
 19347,
 26522,
 21477,
 9723,
 34198,
 25623,
 16081,
 26368,
 1715,
 23755,
 20114,
 21221,
 11574,
 31610,
 12548,
 4739,
 14233,
 18051,
 2431,
 3920,
 7038,
 24461,
 10048,
 7463,
 1303,
 7747,
 4170,
 26899,
 10186,
 32148,
 26566,
 18134,
 9581,
 37766,
 32584,
 2178,
 12290,
 27665,
 5205,
 21669,
 32257,
 16569,
 2617,
 26733,
 31334,
 39431,
 35860,
 9790,
 31719,
 31092,
 38169,
 7560,
 5124,
 27066,
 9776,
 6400,
 13702,
 31563,
 10714,
 32150,
 14409,
 21433,
 38740,
 21091,
 26432,
 14298,
 3312,
 9248,
 30955,
 4898,
 3105,
 32384,
 13104,
 10984,
 11406,
 10656,
 20289,
 9473,
 33516,
 13283,
 32661,
 30207,
 10043,
 15524,
 13320,
 32831,
 8865,
 4731,
 12770,
 10131,
 22306,
 40552,
 31786,
 39847,
 9891,
 1414,
 39411,
 27678,
 22751,
 9939,
 18920,
 7551,
 9733,
 12386,
 40508,
 22781,
 23663,
 33402,
 31285,
 27041,
 1381,
 38273,
 22817,
 13152,
 32887,
 7209,
 26330,
 12835,
 27111,
 2725,
 32422,
 21111,
 3926,
 2729,
 31623,
 14811,
 14449,
 17350,
 30711,
 20635,
 31272,
 30916,
 31651,
 26131,
 11858,
 35574,
 39511,
 8150,
 1899,
 40180,
 20332,
 10316,
 19349,
 30477,
 25376,
 6471,
 9393,
 11672,
 19191,
 38661,
 4622,
 1404,
 23297,
 1131,
 17595,
 14173,
 9065,
 10555,
 30298,
 39771,
 16982,
 30420,
 39495,
 10612,
 37786,
 15104,
 10636,
 30130,
 26450,
 13609,
 24901,
 39080,
 23229,
 31487,
 14166,
 9818,
 9364,
 7953,
 26297,
 16757,
 12940,
 18311,
 1829,
 7834,
 4037,
 686,
 32791,
 23921,
 18375,
 23633,
 5065,
 2292,
 30820,
 2576,
 38251,
 35799,
 16000,
 18007,
 2420,
 15945,
 32252,
 10433,
 3282,
 40558,
 22280,
 2726,
 31413,
 35732,
 26897,
 22057,
 14185,
 11015,
 30270,
 12661,
 10658,
 37994,
 39792,
 38173,
 30893,
 32883,
 37295,
 15094,
 19651,
 35719,
 10728,
 40249,
 18013,
 17556,
 39793,
 15416,
 15671,
 15743,
 9174,
 11829,
 5072,
 10246,
 39828,
 4116,
 20552,
 18742,
 23032,
 15457,
 10895,
 39217,
 39785,
 8156,
 16571,
 2657,
 11397,
 17376,
 7801,
 9206,
 37411,
 2872,
 19783,
 2049,
 15459,
 10562,
 1550,
 8187,
 31082,
 40078,
 40637,
 10443,
 32099,
 37483,
 31139,
 12156,
 24283,
 37261,
 4032,
 919,
 2663,
 26023,
 8230,
 16988,
 24853,
 3533,
 3191,
 11703,
 18524,
 7919,
 19882,
 18636,
 9700,
 35614,
 10314,
 6211,
 27628,
 33381,
 10460,
 7300,
 31416,
 35917,
 9589,
 12406,
 7399,
 20631,
 7489,
 2908,
 15017,
 1584,
 37362,
 19690,
 13172,
 8357,
 30692,
 24997,
 11483,
 39200,
 856,
 39564,
 7401,
 4814,
 17891,
 30885,
 21174,
 32660,
 7981,
 30215,
 27154,
 23216,
 39508,
 9925,
 25502,
 20797,
 13400,
 31782,
 31337,
 25137,
 22895,
 31341,
 37949,
 7761,
 37722,
 6307,
 7084,
 30581,
 9691,
 32407,
 4883,
 39493,
 22782,
 38909,
 23927,
 22480,
 8772,
 19832,
 16578,
 20766,
 35944,
 3877,
 35590,
 20528,
 17842,
 8225,
 23954,
 31922,
 27630,
 32279,
 13754,
 23494,
 12390,
 39862,
 39205,
 38022,
 18251,
 3290,
 8849,
 9933,
 38016,
 827,
 23350,
 39385,
 18271,
 18729,
 31755,
 15301,
 30705,
 31882,
 38946,
 23376,
 8538,
 3829,
 8224,
 30426,
 33480,
 31363,
 39106,
 9865,
 17823,
 10854,
 39846,
 4249,
 9794,
 15639,
 10422,
 26655,
 6455,
 3529,
 36010,
 24155,
 15752,
 14809,
 20363,
 11720,
 4234,
 11061,
 10121,
 32336,
 4350,
 31650,
 23649,
 4187,
 63,
 20859,
 17442,
 9504,
 10602,
 23495,
 39610,
 31742,
 23349,
 7041,
 40356,
 16977,
 12521,
 32677,
 12172,
 32089,
 7983,
 14431,
 4044,
 32819,
 38162,
 15219,
 40094,
 3598,
 14576,
 7056,
 30399,
 3555,
 18570,
 3482,
 17203,
 22931]

In [34]:
save = False

if save = True:
    with open(preproc_path + 'fr_split.json', 'w') as f:
        json.dump(fr_splits, f)